/* resetting defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
*::after,
*::before {
  box-sizing: inherit;
}
body {
  text-align: center;
  background-color: rgb(61, 61, 61);
  font-family: agency fb;
}

/* .. */

/* navbar starts here */
nav {
  background: rgba(23, 22, 22, 0.99);
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 11;
  padding: 0 0 0 2rem;
  box-shadow: 0 0 2rem 0;
  border-bottom: 2px solid #009dff;
  margin-top: -10rem;
}
.follow {
  width: auto;
  border: 1px solid white;
  padding: 1rem;
  transition: 400ms ease;
  margin: 12px;
}
.follow:hover {
  border: 1px solid white;
  color: black;
  background-color: white;
}
.nav_container {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav_menu {
  display: flex;
  align-items: center;
}
nav img {
  height: 7rem;
  background: none;
}
ul {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  padding-right: 20px;
  flex-wrap: wrap;
}
li a {
  color: white;
  display: inline-block;
  padding: 2.7rem 1.5rem 2.7rem 1.5rem;
  text-align: center;
}
li a:hover {
  border-bottom: 3px solid white;
}
hr {
  display: none;
}
.div {
  font-weight: bolder;
  font-size: 3rem;
  color: #009dff;
}
h4 {
  margin: 10px 10px 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(21, 0, 128);
  font-size: 1.5rem;
  font-style: italic;
}
/* navbar ends here */

/* main webpage starts here */
.content {
  margin-top: 10rem;
  text-align: center;
  width: 120rem;
}
.h4 {
  border-bottom: 2px solid white;
  width: max-content;
  margin: 0 auto 2rem auto;
}
.content {
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.feed {
  color: white;
  border: 1px solid white;
  padding: 2rem;
  width: 45rem;
}
.topstory {
  background-color: rgb(42, 41, 41);
  display: flex;
  flex-direction: column;
  height: 50rem;
  gap: 1rem;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 25rem;
  border-left: 2px solid white;
  padding-left: 1rem;
}
.topstory h2 {
  color: white;
  margin: 0 auto;
  width: max-content;
  border-bottom: 2px solid white;
  padding: 1rem;
}
.story {
  height: 20rem;
  width: 20rem;
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.723);
  border-radius: 5px;
  position: relative;
}
.story img {
  padding: 0.5rem;
  display: block;
  margin: 0 auto;
  height: 15rem;
  width: 15rem;
}
.story p {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.403);
  color: white;
  padding: 1rem;
  font-size: 15px;
  margin-top: -70px;
  border-radius: 5px;
  z-index: 1;
  height: 5rem;
  width: 100%;
  display: none;
}
.story:hover p {
  display: block;
}
.obi {
  width: 20rem;
  height: 20rem;
  display: block;
  margin: 2rem auto;
}
.vote {
  margin-top: 0.5rem;
  text-shadow: 5px blue;
  font-size: 2rem;
}
/* main webpage ends here */

/* footer starts here */
footer {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  background: rgba(23, 22, 22, 0.99);
  border-top: 4px solid #009dff;
  color: white;
  text-align: center;
  width: 100%;
  height: 20vh;
  margin-top: 1rem;
}
footer .fake {
  margin-right: 15rem;
}
footer p {
  display: inline;
  font-weight: bolder;
}
footer a {
  color: #009dff;
}
footer a:hover {
  background: transparent;
}

/* footer ends here */

/* media queries (resposivity ) starts here */

/* for small screens */
@media (max-width: 426px) {
  li {
    height: 4.5rem;
    padding-bottom: 0.2rem;
  }
  li a {
    padding-bottom: 0.5rem;
  }

  .topstory {
    display: none;
  }
  nav {
    background: rgba(23, 22, 22, 0.99);
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 11;
    padding: 0 0 0 2rem;
    box-shadow: 0 0 2rem 0;
    border-bottom: 2px solid #009dff;
    margin-top: -10rem;
  }
  .content {
    padding-left: 20rem;
    padding-right: 15rem;
    gap: 1rem;
    padding-top: 4rem;
    width: 40rem;
  }
  .head p {
    display: block;
  }
  footer {
    width: 45rem;
  }
}
/* small screens end */

/* for tablets  */
@media (max-width: 769px) {
  .head p {
    display: block;
  }
  .topstory p {
    display: block;
  }
  .content {
    padding-top: 5rem;
  }
}
/* tablets end */

/* end of code */
